<div class="">
    <div class="aHl"></div>
    <div id=":1bq" tabindex="-1"></div>
    <div id=":1bx" class="ii gt">
        <div id=":1by" class="a3s aiL msg8799766948382617734">
            <u></u>
            <div marginheight="0" marginwidth="0" style="width:100%!important;margin:0;padding:0">
                <span style="border:none;padding:0;margin:0;display:none;font-size:1px">Требуется обновление данных</span>
                <table style="border-collapse:collapse;padding:0;max-width:480px;width:100%;border:0;background-color:#ffffff;margin:0 auto;word-break:break-word" cellpadding="0" cellspacing="0">
                    <tbody style="border:none;padding:0;margin:0">
                        <tr style="border:none;margin:0px;padding:0px">
                            <td style="border:none;padding:0;margin:0">
                                <div id="m_8799766948382617734main" style="border:none;padding:0;margin:0">
                                    <table style="border-collapse:collapse;padding:0;width:100%;background-color:#ffffff;font-family:helvetica;font-size:18px" dir="auto">
                                        <tbody style="border:none;padding:0;margin:0">
                                        <tr style="border:none;margin:0px;padding:0px;height:24px"><td colspan="3" style="border:none;padding:0;margin:0;height:24px"></td></tr>
                                        <tr style="border:none;margin:0px;padding:0px">
                                            <td style="border:none;padding:0;margin:0;width:16px"></td>
                                            <td style="border:none;padding:0;margin:0">
                                                <p style="border:none;padding:0;margin:0;background-color:#ffffff;color:#000000;font-size:18px;font-weight:400;letter-spacing:-0.36px;line-height:21.599999999999998px;text-align:left">
                                                    Здравствуйте, LastName FirstName. Пришло время обновить информацию о вашем трудоустройстве. Нажав кнопку ОБНОВИТЬ вы попадете на сайт StudentTracker, на котором вам нужно будет заполнить форму, с действительными данными о вашем трудоустройстве.
                                                    <br style="border:none;padding:0;margin:0"><br style="border:none;padding:0;margin:0">
                                                </p>
                                            </td>
                                            <td style="border:none;padding:0;margin:0;width:24px"></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <table style="border-collapse:collapse;padding:0;width:100%;background-color:#ffffff;text-align:center">
                                        <tbody style="border:none;padding:0;margin:0">
                                        <tr style="border:none;margin:0px;padding:0px">
                                            <td style="border:none;padding:0;margin:0;width:24px"></td>
                                            <td style="border:none;padding:0;margin:0">
                                                <table style="border-collapse:collapse;padding:0;width:100%">
                                                    <tbody style="border:none;padding:0;margin:0">
                                                    <tr style="border:none;margin:0px;padding:0px">
                                                        <td style="border:none;padding:0;margin:0;font-family:&quot;circular&quot;,&quot;helvetica neue&quot;,&quot;helvetica&quot;,&quot;arial&quot;,sans-serif;font-weight:700;line-height:1.1em;letter-spacing:0.15px;font-size:14px;text-decoration:none;text-align:center;text-transform:uppercase">
                                                            <div style="border:none;padding:0;margin:0;text-align:center;line-height:0">

                                                                <a href="UpdateLink" 
                                                                   style="text-decoration:none;color:#ffffff;margin-left:auto;margin-right:auto;max-width:240px;background-color:#000000;border-radius:24px;display:block" 
                                                                   target="_blank" >
                                                                    <table style="border-collapse:collapse;padding:0;width:100%;max-width:240px;min-height:48px">
                                                                        <tbody style="border: none; padding: 0; margin: 0">
                                                                        <tr style="border: none; margin: 0px; padding: 0px">
                                                                            <td style="border: none; padding: 0; margin: 0; width: 24px"></td>
                                                                            <td style="border: none; padding: 0; margin: 0; font-family: &quot;circular&quot;, &quot;helvetica neue&quot;, &quot;helvetica&quot;, &quot;arial&quot;, sans-serif; font-weight: 700; line-height: 1.1em; letter-spacing: 0.15px; font-size: 14px; text-decoration: none; text-align: center; text-transform: uppercase; color: #ffffff">ОБНОВИТЬ</td>
                                                                            <td style="border: none; padding: 0; margin: 0; width: 24px"></td>
                                                                        </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </a>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                            <td style="border:none;padding:0;margin:0;width:24px"></td>
                                        </tr>
                                        <tr style="border:none;margin:0px;padding:0px;height:24px"><td colspan="3" style="border:none;padding:0;margin:0;height:24px"></td></tr>
                                        </tbody>
                                    </table>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div><div class="yj6qo"></div>
    </div><div id=":1bm" class="ii gt" style="display:none"><div id=":1bl" class="a3s aiL "></div></div><div class="hi"></div>
</div>