@using StudentTracker.Data
@inject StudentTrackerContext _context;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - StudentTracker</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body style="background-color: #f6f7f9">
    <header>
        <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
            <h5 class="my-0 mr-md-auto font-weight-normal">Student Tracker</h5>

            <div class="text-center" style="width: 50%">
                <nav class="nav nav-masthead justify-content-center">
                    <a class="p-2 text-dark" asp-area="" asp-controller="Students" asp-action="Index">Студенты</a>
                    <a class="p-2 text-dark" asp-area="" asp-controller="Faculties" asp-action="Index">Факультеты</a>
                    <a class="p-2 text-dark" asp-area="" asp-controller="Reports" asp-action="Index">Отчеты</a>
                </nav>
            </div>


            @if (User.Identity.IsAuthenticated)
            {
                if (User.IsInRole("admin"))
                {
                    <button class="btn btn-outline-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        admin
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">Аккаунты</a>
                        <a class="dropdown-item" href="#">Настройки</a>
                        <a class="dropdown-item" asp-controller="Account" asp-action="Logout">Выйти</a>
                    </div>
                }
                else
                {
        <button class="btn btn-outline-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            @{
                var user = _context.Users.First(s => s.Email == User.Identity.Name);

                <text>@user.FirstName @user.LastName</text>
            }
        </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" asp-controller="Account" asp-action="Details">Аккаунт</a>
                        @* <a class="dropdown-item" href="#"></a> *@
                        <a class="dropdown-item" asp-controller="Account" asp-action="Logout">Выйти</a>
                    </div>
                }
            }
            else
            {
                <a class="btn btn-outline-primary" asp-controller="Account" asp-action="Login">Войти</a>
            }
        </div>

    </header>
    <div class="container">
        <main role="main" style="width: auto;">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
