@model StudentTracker.Models.Student

@{
    ViewData["Title"] = "Изменение";
}

<h1>Изменение</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="StudentID" />
            <div class="form-group">
                <label asp-for="LastName" class="control-label">Фамилия</label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label">Имя</label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MidName" class="control-label">Отчество</label>
                <input asp-for="MidName" class="form-control" />
                <span asp-validation-for="MidName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GenderID" class="control-label">Пол</label>
                <select asp-for="GenderID" class="form-control" asp-items="ViewBag.GenderID"></select>
                <span asp-validation-for="GenderID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label">Номер телефона</label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmailAddress" class="control-label">email</label>
                <input asp-for="EmailAddress" class="form-control" />
                <span asp-validation-for="EmailAddress" class="text-danger"></span>
            </div>

            @if (ViewData["Faculties"] != null)
            {
                <div>
                    <label class="control-label">Факультет</label>
                    @Html.DropDownList("Faculty", ViewData["Faculties"] as SelectList, new { name = string.Empty, id = "faculty", @class = "form-control" })
                </div>
            }
            <div class="form-group">
                <label class="control-label">Специальность</label>
                @Html.DropDownList("SpecialtyID", ViewData["Specialties"] as SelectList, new { id = "SpecialtyID", @class = "form-control" })
            </div>

            @* <div class="form-group"> *@
            @*     <label asp-for="SpecialtyID" class="control-label">Специальность</label> *@
            @*     <select asp-for="SpecialtyID" class="form-control" asp-items="ViewBag.SpecialtyID"></select> *@
            @*     <span asp-validation-for="SpecialtyID" class="text-danger"></span> *@
            @* </div> *@
            <div class="form-group">
                <label asp-for="FormEducationID" class="control-label">Форма образования</label>
                <select asp-for="FormEducationID" class="form-control" asp-items="ViewBag.FormEducationID"></select>
                <span asp-validation-for="FormEducationID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AcademicDegreeID" class="control-label">Академическая степень</label>
                <select asp-for="AcademicDegreeID" class="form-control" asp-items="ViewBag.AcademicDegreeID"></select>
                <span asp-validation-for="AcademicDegreeID" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsHasRedDiploma" /> Наличие красного диплома
                </label>
            </div>
            <div class="form-group">
                <label asp-for="EndDate" class="control-label">Дата окончания</label>
                <input asp-for="EndDate" class="form-control" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Вернуться назад</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript">
        $(function() {
            $('#faculty').change(function() {
                var id = $(this).val();
                $.ajax({
                    type: 'GET',
                    url: '@Url.Action("GetItems")/' + id,
                    success: function(data) {
                        $('#SpecialtyID').replaceWith(data);
                    }
                });
            });
        })
    </script>
}
