@model IEnumerable<StudentTracker.Models.Specialty>
<select id="SpecialtyID" name="SpecialtyID" class="form-control">
     @foreach (var item in Model)
     {
         <option value="@item.SpecialtyID">@item.SpecialtyName</option>
     }
</select>