@model StudentTracker.ViewModels.ChangePasswordModel


@{
    ViewData["Title"] = "Смена пароля";
}

<style>
    .field-icon {
        float: right;
        margin-left: -25px;
        margin-top: -25px;
        position: relative;
        z-index: 2;
    }
</style>


<div style="background-color: white; padding: 20px;">

    <h2>Изменение</h2>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="ChangePassword">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <input type="hidden" asp-for="Email" />

                <div class="form-group">
                    <label asp-for="OldPassword" class="control-label">Старый пароль</label>
                    <input asp-for="OldPassword" id="old-password-field" name="oldPassword" class="form-control"/>
                    <span onclick="clickShowPassword(this, 'old-password-field')" asp-validation-for="OldPassword" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                </div>

                <div class="form-group">
                    <label asp-for="NewPassword" class="control-label">Новый пароль</label>
                    <input asp-for="NewPassword" id="new-password-field" class="form-control" />
                    <span onclick="clickShowPassword(this, 'new-password-field')" asp-validation-for="NewPassword" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                </div>

                <div class="form-group">
                    <label asp-for="ConfirmNewPassword" class="control-label">Повторите пароль</label>
                    <input asp-for="ConfirmNewPassword" id="confirm-password-field" class="form-control" />
                    <span onclick="clickShowPassword(this, 'confirm-password-field')"  asp-validation-for="ConfirmNewPassword" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                </div>

                <div class="btn-group">
                    <a class="btn btn-outline-primary" asp-action="Details">Назад</a>
                    <input onclick="clickShowPassword(this, 'old-password-field')" type="submit" value="Сохранить" class="btn btn-outline-success" />
                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
    function clickShowPassword(checkbox, id) {
        var a = document.getElementById(id);


        if (a.type == "password") {
            checkbox.classList.toggle("fa-eye");
            checkbox.classList.add("fa-eye-slash");

            a.type = "text";
        } else {
            checkbox.classList.toggle("fa-eye-slash");
            checkbox.classList.add("fa-eye");

            a.type = "password";
        }
    }
</script>