@model StudentTracker.ViewModels.LoginModel

@{
    ViewData["Title"] = "Регистрация";
}


<style>

    .element {
        margin: 10px 0px;
        width: 100%;
    }

        .element label {
            text-align: left;
            float: left;
            font-weight: bold;
            font-size: 14px;
        }

        .element div {
            width: 100%;
            float: left;
            font-size: 14px;
        }

    .form {
        width: auto;
        box-shadow: 0 0 5px;
        background-color: white;
        display: inline-block;
        padding: 20px 50px;
        margin: 10px;
        border-radius: 10px;
    }

    .validation {
        width: auto;
        text-align: center;
    }

    .form-control {
        background-color: #f6f7f9;
    }

        .form-control:focus {
            background-color: #f6f7f9;
        }

    .field-icon {
        float: right;
        margin-left: -25px;
        margin-top: -25px;
        position: relative;
        z-index: 2;
    }
</style>



<div class="text-center" style="padding-top: 30px;">
    <h2>Авторизация</h2>
    <form asp-action="Login" asp-controller="Account" asp-anti-forgery="true">
        <div style="width: auto; display: inline-block;">
            <div class="validation" asp-validation-summary="ModelOnly"></div>
            <div class="form">
                <div class="element">
                    <label asp-for="Email">Email</label><br />
                    <input type="text" asp-for="Email" class="form-control"/>
                    <span asp-validation-for="Email" />
                </div>
                <div class="element">
                    <label asp-for="Password">Пароль</label><br/>
                    <div>
                        <input asp-for="Password" id="password-field" class="form-control"/>
                        <span onclick="clickShowPassword(this, 'password-field')" class="fa fa-fw fa-eye field-icon toggle-password"  asp-validation-for="Password" />
                    </div>
                </div>
                <div>
                    <input type="submit" size="10" style="margin: 20px 0px; font-size: 14px; width: 100%; float: left;" class="btn-sm btn-success" value="Войти" />
                </div>
            </div>
        </div>
    </form>
    <a asp-action="Register" asp-controller="Account">Регистрация</a>
</div>


<script type="text/javascript">
    function clickShowPassword(checkbox, id) {
        var a = document.getElementById(id);


        if (a.type == "password") {
            checkbox.classList.toggle("fa-eye");
            checkbox.classList.add("fa-eye-slash");

            a.type = "text";
        } else {
            checkbox.classList.toggle("fa-eye-slash");
            checkbox.classList.add("fa-eye");

            a.type = "password";
        }
    }
</script>