@model StudentTracker.ViewModels.RegisterModel

@{
    ViewData["Title"] = "Регистрация";
}


<style>

    .element {
        margin: 10px 0px;
        width: 100%;
    }

        .element label {
            text-align: left;
            float: left;
            font-weight: bold;
            font-size: 14px;
        }

        .element div {
            width: 100%;
            float: left;
            font-size: 14px;
        }

    .form {
        width: auto;
        box-shadow: 0 0 5px;
        background-color: white;
        display: inline-block;
        padding: 20px 50px;
        margin: 10px;
        border-radius: 10px;
    }

    .form-control  {
        background-color: #f6f7f9;
    }
        .form-control:focus {
            background-color: #f6f7f9;
        }

        .field-icon {
            float: right;
            margin-left: -25px;
            margin-top: -25px;
            position: relative;
            z-index: 2;
        }
</style>

<div class="text-center" style="padding-top: 30px;">
    <h2>Регистрация</h2>
    <form style="margin: auto;" class="form-signin" asp-action="Register" asp-controller="Account" asp-anti-forgery="true">
        <div class="form">
            <div class="validation" asp-validation-summary="ModelOnly"></div>
            <div>
                <div class="element">
                    <label asp-for="LastName">Фамилия</label><br />
                    <input type="text" asp-for="LastName" class="form-control"/>
                    <span asp-validation-for="LastName" />
                </div>
                <div class="element">
                    <label asp-for="FirstName">Имя</label><br />
                    <input type="text" asp-for="FirstName" class="form-control"/>
                    <span asp-validation-for="FirstName" />
                </div>
                <div class="element">
                    <label asp-for="Email">Email</label><br />
                    <input type="text" asp-for="Email" class="form-control"/>
                    <span asp-validation-for="Email" />
                </div>
                <div class="element">
                    <label asp-for="Password">Пароль</label><br />
                    <div>
                        <input asp-for="Password" id="password-field" class="form-control"/>
                        <span onclick="clickShowPassword(this, 'password-field')" class="fa fa-fw fa-eye field-icon toggle-password" asp-validation-for="Password" />
                    </div>
                </div>
                <div class="element" style="margin-top: 50px;">
                    <label asp-for="ConfirmPassword">Повторите пароль</label><br />
                    <div>
                        <input asp-for="ConfirmPassword" id="confirm-password-field" class="form-control" />
                        <span onclick="clickShowPassword(this, 'confirm-password-field')" class="fa fa-fw fa-eye field-icon toggle-password" asp-validation-for="ConfirmPassword" />
                    </div>
                </div>
                <div>
                    <input type="submit" size="14" style="margin: 20px 0px; font-size: 14px; width: 100%; float: left;" class="btn-sm btn-success" value="Регистрация" />
                </div>
            </div>
        </div>
    </form>
</div>


<script type="text/javascript">
    function clickShowPassword(checkbox, id) {
        var a = document.getElementById(id);


        if (a.type == "password") {
            checkbox.classList.toggle("fa-eye");
            checkbox.classList.add("fa-eye-slash");

            a.type = "text";
        } else {
            checkbox.classList.toggle("fa-eye-slash");
            checkbox.classList.add("fa-eye");

            a.type = "password";
        }
    }
</script>